amqp==2.2.2
beautifulsoup4==4.6.0
billiard==3.5.0.3
celery==4.1.0
certifi==2017.11.5
chardet==3.0.4
click==6.7
enum-compat==0.0.2
eventlet==0.21.0
Flask==0.12.2
greenlet==0.4.12
idna==2.6
itsdangerous==0.24
Jinja2==2.10
kombu==4.1.0
Logbook==1.1.0
lxml==4.1.1
MarkupSafe==1.0
py==1.5.2
pyshark==0.3.7.11
pytz==2017.3
redis==2.10.6
requests==2.18.4
selenium==3.8.1
trollius==1.0.4
urllib3==1.22
vine==1.1.4
Werkzeug==0.14.1
Logbook==1.1.0
py==1.5.2
pyshark==0.3.7.11
SQLAlchemy==1.2.1
trollius==1.0.4
flask-cors==3.0.3